<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <jmxConfigurator/>

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
    <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level -&#45;&#45; [%-21.21thread] %-35.35logger{35} : %m%n</pattern>-->
    <!--</layout>-->
    <!--</appender>-->

    <!--<appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--<fileNamePattern>spring.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--</rollingPolicy>-->
    <!--<encoder>-->
    <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level -&#45;&#45; [%-21.21thread] %-35.35logger{35} : %m%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <!--<springProfile name="default">-->
    <!--<root level="INFO">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--</root>-->
    <!--</springProfile>-->
</configuration>
