<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="product" source="spring.application.name"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active"/>
    <springProperty scope="context" name="token" source="logzio.token"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
                            "severity": "%level",
                            "service": "${product:-}",
                            "profile": "${profile:-}",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "parent": "%X{X-B3-ParentSpanId:-}",
                            "exportable": "%X{X-Span-Export:-}",
                            "pid": "${PID:-}",
                            "thread": "%thread",
                            "class": "%logger",
                            "rest": "%message"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
    </appender>

    <!-- <appender name="Logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>dev-sre-elasticsearch.opsnow.io</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"product":"${product}","profile":"${profile}"}</customFields>
        </encoder>
    </appender> -->

    <!-- <appender name="Logzio" class="io.logz.logback.LogzioLogbackAppender">
        <token>${token}</token>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender> -->

    <springProfile name="dev, stage, prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- <springProfile name="dev, prod">
        <root level="INFO">
            <appender-ref ref="Logstash"/>
            <appender-ref ref="Logzio"/>
        </root>
    </springProfile> -->
</configuration>
