files:
  "/etc/filebeat/filebeat.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      ############################# Filebeat #####################################
      filebeat:
        prospectors:
          -
            paths:
              - /var/log/nginx/access.log
            fields:
              product: PRODUCT
              version: VERSION
              logzio_codec: plain
              token: LOGZIO_TOKEN
              type: nginx_access
            fields_under_root: true
            ignore_older: 3h
            encoding: utf-8
        registry_file: /var/lib/filebeat/registry
      ############################# Output ##########################################
      output:
        logstash:
          hosts: ["listener.logz.io:5015"]
          ssl:
            certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']

packages:
  rpm:
    filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.0.0-x86_64.rpm

commands:
  certificate_download:
    command: "wget -q -N https://raw.githubusercontent.com/logzio/public-certificates/master/COMODORSADomainValidationSecureServerCA.crt"
    cwd: /etc/pki/tls/certs
  filebeat_start:
    command: "/etc/init.d/filebeat restart"
