#
# CircleCI 2.0
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk
    working_directory: ~/works
    steps:
      - checkout
      - restore_cache:
          keys:
            - circleci-cache-{{ checksum "pom.xml" }}
      - run:
          name: Build
          command: |
            mkdir target
            curl -sLo target/builder.sh toast.sh/builder
            bash ./target/builder.sh
            mvn package
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-cache-{{ checksum "pom.xml" }}
      - store_artifacts:
          path: ./target/*.jar
      - store_test_results:
          path: ./target/surefire-reports
      - persist_to_workspace:
          root: ~/works
          paths:
            - .
  publish:
    docker:
      - image: opspresso/awscli
    working_directory: ~/works
    steps:
      - attach_workspace:
          at: ~/works
      - run:
          name: Publish
          command: |
            bash ./target/builder.sh
  release:
    docker:
      - image: circleci/golang
    working_directory: ~/works
    steps:
      - attach_workspace:
          at: ~/works
      - run:
          name: Release
          command: |
            bash ./target/builder.sh
  docker:
    docker:
      - image: circleci/python
    working_directory: ~/works
    steps:
      - attach_workspace:
          at: ~/works
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Docker
          command: |
            bash ./target/builder.sh
  slack:
    docker:
      - image: circleci/python
    working_directory: ~/works
    steps:
      - attach_workspace:
          at: ~/works
      - run:
          name: Slack
          command: |
            bash ./target/builder.sh

# Advanced Settings
# - Build forked pull requests
# - Pass secrets to builds from forked pull requests
# - Only build pull requests

workflows:
  version: 2
  apply:
    jobs:
      - build
      - publish:
          requires:
            - build
      - release:
          requires:
            - build
      - docker:
          requires:
            - release
      - slack:
          requires:
            - release
