name: build

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: "1.8"
          java-package: jdk
          architecture: x64

      - name: Run Build
        run: |
          ./build.sh

      - name: Bump Version
        id: bump
        uses: opspresso/action-builder@master
        with:
          args: --version

      - name: Release to GitHub
        uses: opspresso/action-builder@master
        with:
          args: --release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ steps.bump.outputs.version }}

      - name: Trigger for GitOps
        uses: opspresso/action-builder@master
        with:
          args: --dispatch
        env:
          GITHUB_TOKEN: ${{ secrets.GHP_TOKEN }}
          GITOPS_REPO: "opspresso/argocd-env-demo"
          PROJECT: ${{ github.event.repository.name }}
          VERSION: ${{ steps.bump.outputs.version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_BRUCE }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_BRUCE }}
          aws-region: ap-northeast-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            nalbam/${{ github.event.repository.name }}
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
            ${{ steps.login-ecr.outputs.registry }}/nalbam/${{ github.event.repository.name }}
          tags: |
            type=semver,pattern={{raw}},value=${{ steps.bump.outputs.version }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # - name: Build & Push to Docker Hub
      #   uses: opspresso/action-docker@master
      #   with:
      #     args: --docker
      #   env:
      #     USERNAME: ${{ secrets.DOCKER_USERNAME }}
      #     PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      #     # TAG_NAME: ${{ github.ref }}
      #     # PLATFORM: "linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"
      #     # BUILDX: "true"
      #     # LATEST: "true"

      # - name: Build & Push to AWS ECR Private
      #   uses: opspresso/action-docker@master
      #   with:
      #     args: --ecr
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_BRUCE }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_BRUCE }}
      #     AWS_REGION: "ap-northeast-2"
      #     # REGISTRY: "public.ecr.aws/nalbam"
      #     # TAG_NAME: ${{ github.ref }}
      #     # PLATFORM: "linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"
      #     # BUILDX: "true"
      #     # LATEST: "true"

      # - name: Build & Push to AWS ECR Public
      #   uses: opspresso/action-docker@master
      #   with:
      #     args: --ecr
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: "ap-northeast-2"
      #     REGISTRY: "public.ecr.aws/nalbam"
      #     # TAG_NAME: ${{ github.ref }}
      #     # PLATFORM: "linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"
      #     BUILDX: "true"
      #     # LATEST: "true"

      # - name: Build & Push to Quay.io
      #   uses: opspresso/action-docker@master
      #   with:
      #     args: --docker
      #   env:
      #     USERNAME: ${{ secrets.QUAY_USERNAME }}
      #     PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      #     REGISTRY: "quay.io"
      #     # TAG_NAME: ${{ github.ref }}
      #     # PLATFORM: "linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"
      #     BUILDX: "true"
      #     # LATEST: "true"

      # - name: Build & Push to GitHub Package
      #   uses: opspresso/action-docker@master
      #   with:
      #     args: --docker
      #   env:
      #     PASSWORD: ${{ secrets.GHP_TOKEN }}
      #     REGISTRY: "docker.pkg.github.com"
      #     # TAG_NAME: ${{ github.ref }}
      #     # PLATFORM: "linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"
      #     # BUILDX: "true"
      #     # LATEST: "true"
